<?xml version="1.0"?>
<!--
/**
 * @package     HitarthPattani\BackendReindex
 * @author      Hitarth Pattani <hitarthpattani@gmail.com>
 * @copyright   Copyright © 2021. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="indexer">
            <module name="HitarthPattani_BackendReindex" after="Magento_Indexer"/>
        </route>
    </router>
</config>
